.cargando{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 100%;
    box-shadow: 5px 5px black;
    display: flex;
    align-self: center;
}
.container{
    display:inline-table;
    text-align: center;
    width: 100%;
}
.list-container{
    border: 2px solid black;
    border-radius: 20px;
    width: 300px;
    display: inline-block;
    align-self: center;
    margin: 20px;
    padding: 10px;
    box-shadow: 5px 5px black;
}